{% extends "./../htmlTemplates/user.html" %}

{% block content %}


<div class="row">
    <div class="col-md-4">		</div>
	<div class="col-md-4 text-center">
    </br>
        <h2>Register</h2>
        </br>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text"> First name</span>
                <input class="form-control" type="text" name="first_name" autofocus="" required="" id="id_firstName">
            </div>

            <div class="input-group mb-3">
                    <span class="input-group-text">Last name</span>
                    <input class="form-control" type="text" name="last_name" autofocus="" required="" id="id_lastName" >
            </div>

            <div class="input-group mb-3">
                    <span class="input-group-text">Username</span>
                    <input class="form-control" type="text" name="username" autofocus="" required="" id="id_username">
            </div>           
            
            <div class="input-group mb-3">
                    <span class="input-group-text">Email</span>
                    <input class="form-control" type="text" name="email" autofocus="" required="" id="id_email">
            </div>

            <div class="input-group mb-3">
                    <span class="input-group-text">Password</span>
                    <input class="form-control" type="password" name="password" autofocus="" required="" id="id_password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

    <div class="col-md-4"></div>
</div>


    
{% endblock %}