{% extends "./../htmlTemplates/user.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
            </br>
            <h2>Add Book</h2>
            </br>
            <form action="{% url 'addBook' %}" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" for="title">Book's Title</span>
                    <input class="form-control" type="text" name="title" autofocus="" required="" id="title" >
                </div>    
                <div class="input-group mb-3">
                    <span class="input-group-text" for="intro">Intro</span>
                    <textarea class="form-control" id="intro" name="intro" rows="3"></textarea>
                </div>    
                <div class="input-group mb-3">
                    <span class="input-group-text" for="image_url">Book Image Link</span>
                    <input class="form-control" type="text" name="image_url" autofocus="" required="" id="title" >
                </div>    
                <button type="submit" class="btn btn-success">Add to my book list</button>
            </form>
    </div>
    <div class="col-md-4"></div>
    
</div>


{% endblock %}
