{% extends "./../htmlTemplates/user.html" %}

{% block content %}



<div class="container">  
    <br><br>
    <div class="row">
        <div class="col-md-4">
            <img src="{{book.image_url}}" alt="" width="100%">        
        </div>
        <div class="col-md-8" >
            <div class="card-body">
                <h5 class="card-title"><h4><b>{{book.title}}</b></h4></h5>
                <p class="card-text">Introduction: {{ book.intro }}</p>
                {%if user.id == book.user_id_id%}
                <a href="{% url 'edit' book.id %}" class="btn btn-danger btn-sm">Edit</a>
                {%endif%}
            </div>
        </div>
    </div>
    <hr>
        
    <input id="chat-message-input" type="text" size="100"/>
    <input id="chat-message-submit" type="button" value="Send"/><hr>
    <div id="commentLog"></div>
    {% if comments %}
        {% for comment in comments reversed %}
        <!--<p>comment.book_id: {{ comment.book_id }}
        book.id: {{ book.id }}</p> -->
                {% if comment.book_id.id == book.id %}
                        <b class="text-primary">{{comment.user_id.username}}: </b> 
                        </span>{{comment.text}}<br>
                        <hr>
                {% endif %}
        {% endfor %}
    {% endif %}
</div>
    

<br>  
<script>
    var roomName = {{ room_name_json }};
    var userID = {{user.id}};
    var username= '{{user.username}}';
    var bookID= {{book.id}};
    console.log(bookID);
    console.log(username);
    var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/book/detail/' + bookID + '/');
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var comment = data['comment'];
        // Add content with decoration to #chat-log
        let addString = '<b class="text-primary">' + comment['username'] + ': </b>';
        addString = addString + comment['text'] +'<hr>';
        //console.log( addString );
        var div = document.getElementById('commentLog');
        div.innerHTML = addString + div.innerHTML; 
        // document.querySelector('#chat-log').value += ( + '(' + comment['posted_at'] + '): ' + comment['text'] + '\n');
    };
    chatSocket.onclose = function(e) {
        console.error('Comment socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var commentInputDom = document.querySelector('#chat-message-input');
        var comment_content = commentInputDom.value;
        chatSocket.send(JSON.stringify({'text': comment_content, 'user_id': userID, 'username': username, 'book_id': bookID}));
        commentInputDom.value = '';
    }; 
</script>


{% endblock %}

