{% extends "./../htmlTemplates/user.html" %}

{% block content %}
<body>
<h1 style="text-align: center">INIAD READ</h1>

    <div class="container-fluid mt-3">
      <h3>Edit book</h3>
      <form action="{% url 'edit' book.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="titleInput">Title</label>
          <input id="titleInput" name="title" class="form-control" type="text" placeholder="Input title" value="{{ book.title }}">
        </div>
        <div class="form-group">
          <label for="textInput">Intro</label>
          <textarea id="textInput" name="intro" class="form-control" rows="2"> {{ book.intro | linebreaksbr }}</textarea>
        </div>
        <div class="form-group">
          <label for="image_url">Image_url</label>
          <input id="image_url" type="text" name="image_url" class="form-control" placeholder="Input image_url" value="{{ book.image_url }}">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </form>
    </div>
  </body>
{% endblock %}
