{% extends "./../htmlTemplates/user.html" %}

{% block content %}

<h1 style="text-align: center" >All Books</h1>
<br>
    <div class="container" style="width: 100rem;">
        <div class="row">
            {% for book in books %}
            <div class="col-md-2">
                <a class="text-primary" href="{% url 'detail' book.id %}">
                    <img src="{{book.image_url}}" alt="" width="100%">
                </a>
            </div>
            <div class="col-md-4" >
                    <div class="card-body">
                            <a class="text-primary" href="{% url 'detail' book.id %}">
                                <h5 class="card-title"><h4><b>{{book.title}}</b></h4></h5>
                            </a>
                            <p class="card-text">{{ book.intro }}</p>
                            <a class="btn btn-primary" href="{% url 'detail' book.id %}"> Detail </a> 
                            {%if user.id == book.user_id_id%}
                                <a class="btn btn-primary" href="{% url 'edit' book.id %}"> Edit </a> 
                            {%endif%}
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
        

    <hr>

{% endblock %}
