<!DOCTYPE html>
<!-- chat/templates/chat/room.html -->
<html>
<head>
    <meta charset="utf-8"/>  <title>Chat Room</title>
</head>
<body>
    <h1>{{user.username}}</h1>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
<script>
    var roomName = {{ room_name_json }};
    var userID = {{user.id}};
    var username= '{{user.username}}';
    console.log(roomName);
    console.log(username);
    var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/testChannels/' + roomName + '/');
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data); var message = data['message'];
        document.querySelector('#chat-log').value += (message['username'] + ': ' + message['content'] + '\n');
    };
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({'message': message, 'user_id': userID, 'username': username}));
        messageInputDom.value = '';
    };
</script>
</body>
</html>
