{% extends "./../htmlTemplates/user.html" %}

{% block content %}
<h1>Home</h1>

    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <a href="{% url 'logout' %}">logout</a>
    {% else %}
    <p>You are not logged in.</p>
    <p><a href="{% url 'login' %}">login</a></p>
    {% endif %}
  
{% endblock %}